@font-face {
  font-family: 'GapyeongHanseokbongB';
  src: url('assets/fonts/GapyeongHanseokbongB.ttf') format('truetype'); 
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GapyeongHanseokbongL';
  src: url('assets/fonts/GapyeongHanseokbongL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p {
  font-size: 50px;
}

/* 클래스별 폰트 지정 */
.font1 {
  font-family: 'GapyeongHanseokbongB', serif;
}

.font2 {
  font-family: 'GapyeongHanseokbongL', serif;
}

.font3 {
  font-family: 'GapyeongHanseokbongB', serif;
  font-weight: bold;
}

.font4 {
  font-family: 'GapyeongHanseokbongL', serif;
  font-style: italic;
}
