@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

P {
    font-size: 50px;
}

 .font1 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">

 .font2 {
    font-family: 'Noto Sans KR', sans-serif;
 }

 .font3 {
    font-family: 'Noto Sans KR', sans-serif;
 }

 .font4 {
    font-family: 'Noto Sans KR', sans-serif;
 }
